<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet" th:href="@{/CSS/milestonesStyle.css}">
    <link rel="stylesheet" th:href="@{/CSS/master.css}">
</head>
<body>
<div th:insert="~{master::header}"></div>

<div th:replace="~{master::navbar(~{::li})}">
    <li><a th:href="@{/tickets/new}">Create page</a></li>
    <li><a th:href="@{/tickets/milestone/new}">Create milestone</a></li>
    <li><a th:href="@{/tickets/milestones}">milestones list</a></li>
</div>
<main>
    <h2 th:text="' Adding tickets to milestone: '+${milestone.title} + ''"></h2>
    <div id="ticketsContainer">
        <section id="open_tickets">
            <h2>Ticket Aperti</h2>
            <article th:each="ticket : ${tickets}" th:if="${ticket.status.name() == 'OPEN'}">
                <h3 th:text="${ticket.title}"></h3>
                <p th:text="${ticket.description}"></p>
                <p>Data:
                    <time th:text="${#temporals.format(ticket.date, 'dd/MM/yyyy HH:mm')}"></time>
                </p>
                <p>Stato: <strong th:text="${ticket.status}"></strong></p>
                <p>Tipo: <strong th:text="${ticket.type}"></strong></p>
                <p>Utente: <em th:text="${ticket.user != null ? ticket.user.username : 'Nessun utente'}"></em></p>
                <a th:if="${!milestone.tickets.contains(ticket)}" th:href="@{/tickets/milestones/{id}/add/{t_id}(t_id=${ticket.id}, id=${milestone.id})}" class="btn btn-primary">Add</a>
            </article>
        </section>

        <section id="closed_tickets">
            <h2>Ticket Chiusi</h2>

            <article th:each="ticket : ${tickets}" th:if="${ticket.status.name() == 'CLOSED'}">
                <h3 th:text="${ticket.title}"></h3>
                <p th:text="${ticket.description}"></p>
                <p>Data:
                    <time th:text="${#temporals.format(ticket.date, 'dd/MM/yyyy HH:mm')}"></time>
                </p>
                <p>Stato: <strong th:text="${ticket.status}"></strong></p>
                <p>Tipo: <strong th:text="${ticket.type}"></strong></p>
                <p>Utente: <em th:text="${ticket.user != null ? ticket.user.username : 'Nessun utente'}"></em></p>
                <a th:if="${!milestone.tickets.contains(ticket)}" th:href="@{/tickets/milestones/{id}/add/{t_id}(t_id=${ticket.id}, id=${milestone.id})}" class="btn btn-primary">Add</a>
            </article>
        </section>

        <section id="processing_tickets">
            <h2>Ticket In Lavorazione</h2>
            <article th:each="ticket : ${tickets}" th:if="${ticket.status.name() == 'IN_PROGRESS'}">
                <h3 th:text="${ticket.title}"></h3>
                <p th:text="${ticket.description}"></p>
                <p>Data:
                    <time th:text="${#temporals.format(ticket.date, 'dd/MM/yyyy HH:mm')}"></time>
                </p>
                <p>Stato: <strong th:text="${ticket.status}"></strong></p>
                <p>Tipo: <strong th:text="${ticket.type}"></strong></p>
                <p>Utente: <em th:text="${ticket.user != null ? ticket.user.username : 'Nessun utente'}"></em></p>
                <a th:if="${!milestone.tickets.contains(ticket)}" th:href="@{/tickets/milestones/{id}/add/{t_id}(t_id=${ticket.id}, id=${milestone.id})}" class="btn btn-primary">Add</a>
            </article>
        </section>

        <section id="done_tickets">
            <h2>Ticket Chiusi</h2>

            <article th:each="ticket : ${tickets}" th:if="${ticket.status.name() == 'DONE'}">
                <h3 th:text="${ticket.title}"></h3>
                <p th:text="${ticket.description}"></p>
                <p>Data:
                    <time th:text="${#temporals.format(ticket.date, 'dd/MM/yyyy HH:mm')}"></time>
                </p>
                <p>Stato: <strong th:text="${ticket.status}"></strong></p>
                <p>Tipo: <strong th:text="${ticket.type}"></strong></p>
                <p>Utente: <em th:text="${ticket.user != null ? ticket.user.username : 'Nessun utente'}"></em></p>
                <a th:if="${!milestone.tickets.contains(ticket)}" th:href="@{/tickets/milestones/{id}/add/{t_id}(t_id=${ticket.id}, id=${milestone.id})}" class="btn btn-primary">Add</a>
            </article>
        </section>
    </div>
</main>
<div th:insert="~{master::footer}"></div>
</body>
</html>
