<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Login Failed</title>
  <link rel="stylesheet" th:href="@{/CSS/loginFailedStyle.css}">
  <link rel="stylesheet" th:href="@{/CSS/master.css}">
</head>
<body>
<div th:insert="~{master::header}"></div>

<div th:replace="~{master::navbar(~{::li})}">
  <li><a th:href="@{/tickets}">Home</a></li>
</div>
<main>
  <div class="login-failed-container">
    <h2>Login Failed</h2>
    <div class="error-box">
      <p>Invalid username or password. Please try again.</p>
      <a href="/tickets/login" class="retry-button">Back to Login</a>
    </div>
    <a href="/tickets/" class="register-link">Not registered yet? Sign up here</a>
  </div>
</main>

<div th:insert="~{master::footer}"></div>
</body>
</html>