<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:insert="Tickets">Ticket Server</title>
</head>
<nav th:fragment="navbar(menuItems)">
    <ul>
        <th:block th:replace="${menuItems}" />
    </ul>
</nav>
<body>
<header th:fragment="header">
    <div class="header-left">
        <img th:src="@{/images/ticket-img.png}" alt="TicketLogo">
        <h1>Ticket Server</h1>
    </div>
    <div class="header-right">
        <div sec:authorize="isAuthenticated()">
            <span class="username" th:text="${#authentication.name}"></span>
            <form id="formHeader" th:action="@{/tickets/logout}" method="post" class="logoutH-form">
                <button id="BOTTONE" type="submit" class="logoutH-btn">Logout</button>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a href="/tickets/login" class="loginH-btn">Login</a>
        </div>
    </div>
</header>

<footer th:fragment="footer">
    <small>&copy; 2024 Ticket Server. Tutti i diritti riservati.</small>
</footer>
</body>
</html>