<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${ticket.present ? 'Ticket #' + ticket.get().id : 'Ticket non trovato'}">Ticket Details</title>
    <link rel="stylesheet" th:href="@{/CSS/ticketStyle.css}">
    <link rel="stylesheet" th:href="@{/CSS/master.css}">
</head>
<body>
<div th:insert="~{master::header}"></div>

<div th:replace="~{master::navbar(~{::li})}">
    <li><a th:href="@{/tickets}">Home page</a></li>
    <li><a th:href="@{/tickets/{id}/delete(id=${ticket.get().id})}">Delete page</a></li>
    <li><a th:href="@{/tickets/{id}/edit(id=${ticket.get().id})}">Edit page</a></li>
</div>
<main>
    <!-- Messaggio di errore se il ticket non esiste -->
    <div th:if="${!ticket.present}" class="error-message">
        <h2>Ticket non trovato</h2>
        <p>Il ticket richiesto non esiste.</p>
    </div>

    <!-- Dettagli del ticket se esiste -->
    <article th:if="${ticket.present}">
        <h2 th:text="${'Ticket #' + ticket.get().id + ': ' + ticket.get().title}">Ticket Title</h2>
        <p>
            <strong>Descrizione:</strong>
            <span th:text="${ticket.get().description}">Descrizione del ticket</span>
        </p>
        <p>
            <strong>Data:</strong>
            <time th:text="${#temporals.format(ticket.get().date, 'dd MMMM yyyy HH:mm')}">
                Data del ticket
            </time>
        </p>
        <p id="StatusBox">
            <strong>Stato:</strong>
            <span th:class="${ticket.get().status.name().toLowerCase()}"
                  th:text="${ticket.get().status}">Stato del ticket</span>
        </p>
        <p>
            <strong>Tipo:</strong>
            <span th:class="${ticket.get().type.name().toLowerCase()}"
                  th:text="${ticket.get().type}">Tipo del ticket</span>
        </p>
        <p>
            <strong>Utente:</strong>
            <em th:text="${ticket.get().user.name + ' ' + ticket.get().user.surname + ' (' + ticket.get().user.username + ')'}">Nome
                Cognome (username)</em>
        </p>

        <p>
            <strong>Attachment:</strong>
            <a th:if="${ticket.get().attachment != null}"
               th:href="@{/tickets/{id}/{file}(id=${ticket.get().id}, file=${ticket.get().getAttachment().getName()})}"
               th:text="${ticket.get().getAttachment().getName()}">
            </a>
            <span th:if="${ticket.get().attachment == null}"
                  th:text="'Nessun documento trovato'">
            </span>
        </p>



        <form th:action="@{/tickets/{id}/edit(id=${ticket.get().id})}" method="POST">
            <div class="form-group">
                <label for="tag">Add tag</label>
                <input type="text" id="tag" name="tag">
            </div>
            <div id="btn2"  class="button-group">
                <button id="buttonTag" type="submit">Add tag</button>
            </div>
        </form>


        <div id="btn">
            <a id="changeStatusLink" th:href="@{/tickets/{id}/changeStatus (id=${ticket.get().id})}" >Edit status</a>
        </div>
    </article>
</main>

<div th:insert="~{master::footer}"></div>

<script th:src="@{/js/changeStatus.js}"></script>
</body>
</html>